
.container {
    text-align: center;
    background-color: #FFFDD0; /* Cream color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container h1{
    font-size: 50px;
    color: black
}

.container h2{
    font-size: 40px;
    color: black
}

.container p{
    font-size: 35px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ADD8E6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.imageWrapper {
    text-align: center;
}

.imageWrapper img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}